body {
  width: 100%;
  padding: 0;
  margin: 0;
}

.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  /* background-color: lightblue; */
  
}

.ullist{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0!important;
}

.Navbar p{
  margin-bottom: 0!important;
  font-size: 2rem;
}

.ullist li{
  padding: 0 40px;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: black;
}
.products{
  width: 100%;
  height: auto;
}
.Card{
  padding: 10px 20px;
  /* background-color: lightblue; */
  margin: 10px 0px;
  text-align: center;
}

.Card img{
  width: 80px;
  height: 80px;
}